body{
  background: url('../images/bg_wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: luminosity;
  background-color:rgba(19, 142, 87, 0.3);

  animation-name: gradient;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
  @keyframes gradient {
    25%  {
      background-color:rgba(19, 142, 87, 0.5);
    }
    50% {
      background-color:rgba(19, 142, 122, 0.6);
    }
    75%  {
      background-color:rgba(19, 142, 52, 0.5);
    }
    100% {
      background-color:rgba(19, 142, 87, 0.3);
    }
  }

#wrapper{
  position: absolute;
  display: inline-block;
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
  text-align: center;
  overflow: hidden;
  z-index: 99;  
}
.App {
  position: relative;
  display: inline-block;
  top:10px;
  width: 80%;
  min-width: 580px;
  max-width: 950px;
  height: 96vh;
  min-height: 1150px;
  max-height: 1180px;
  margin-top: 40px;
  padding-bottom: 30px;
  overflow: hidden;
  border-radius: 25px;
  background-color: rgba(232, 232, 232, 0.851) ;
  background: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0.885) 0%,
    #ffffff6d 30%,
    rgba(0, 0, 0, 0.42) 100%
    ); 
    z-index: 99;  
  }

#homepage_wrapper{
  position: relative;
  display: inline-block;
  top: 0px;
  width: 90%;
  height: 78%;
  min-height: 920px;
  background: linear-gradient(
      to bottom, 
      rgba(232, 228, 228, 0.750) 0%,
      rgb(241, 245, 240, 0.750) 40%,
      rgba(141, 141, 141, 0.878) 100%
  ); 
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.416);
  border-radius: 25px;
  -moz-box-shadow: 0px 0px 20px  #00000054;
  -webkit-box-shadow: 0px 0px 20px  #00000054;
  box-shadow: 0px 0px 20px  #00000054;
  overflow: hidden;
  z-index: 99;
}




/*GENERAL STYLES*/
.middle{
  position: relative;
  display: inline-block;
}
.padLeft40{
  padding-left: 40px;
}
.pad20{
  padding: 20px;
}
.padTop20{
  padding-top: 20px;
}
.padBottom20{
  padding-bottom: 20px;
}
img{
  border:0;
}
.noUnderline{
  text-decoration: none;
}
h1{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(18, 63, 52, 0.347);  
}

/*CLOSE BUTTON*/
.xClose{
  position: absolute;
  float: left;
  top: 8px;
  left: 8px;
  z-index: 1;
  padding: 0px 8px 2px 8px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.656);
  border-radius: 10px;
  background: linear-gradient(
    to bottom right, 
    rgb(151, 246, 246) 2%,
    rgb(127, 244, 240) 28%,
    rgb(32, 147, 47) 62%,
    rgb(17, 210, 53) 100%
    ); 
  box-shadow: inset 0 0 10px #0000007b;
  cursor: pointer;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-iteration-count: 1;
  transition-timing-function: ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100%  {
        opacity:1;
    }
}
.xClose:hover{
  box-shadow: inset 0 0 5px #0000007b;
}
.xClose:active{
  background: linear-gradient(
    to bottom right, 
    rgb(135, 221, 221) 2%,
    rgb(105, 207, 203) 28%,
    rgb(26, 122, 39) 62%,
    rgb(14, 188, 46) 100%
  ); 
}


@media only screen and (max-width: 768px){
  #wrapper{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    padding-bottom: 0px;  
  }
  .App {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    top: 2px;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    overflow: hidden;
  }  
  #homepage_wrapper{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 78vh;
    min-height: 78vh;
    max-height: 78vh;
    border-radius: 0px;
  }
  h1{
      font-size: 22px;
  }
  h2{
      font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: 14px;
  }
}
