#charityCard{
    position: absolute;
    display: none;
    top: 125px;
    left: 3.5vw;
    width: 90%;
    height: 81.5%;
    border: 1px solid rgba(0, 0, 0, 0.433);
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0000007b;
    background: linear-gradient(
        to bottom, 
        rgb(241, 241, 241) 0%,
        rgb(221, 221, 221) 100%
    ); 
    overflow: hidden;
    z-index: 1;
    
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
}
.xCharityCard{
    position: relative;
    float: left;
    top: 8px;
    left: 8px;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
}
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100%  {
            opacity:1;
        }
    }
.charityInfoTable{
    position: absolute;
    display: inline-block;
    width: 90%;
    height: 600px;
    overflow: scroll;
    top: 0;
    left: -2vw;
    padding: 30px 50px 60px 50px;
}
#moreInfoTable{
    position: relative;
    top: 40px;
    width: 90%;
    text-align: center;
}
.ratingLikeTable{
    width: 84%;
}
.followHeart{
    margin-top: 4px;
    width: 50px;
    opacity: .8;
    cursor: pointer;
}
.followHeart:hover{
    opacity: 1;
    transform: scale(1.05);
}
.orgLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.247);
    color: green;
}
.moreInfoLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.247);
    color: rgb(51, 94, 50);
}
.moreInfoDivider{
    font-family:monospace;
    color:white;
    padding: 4px 100px 4px 100px;
    background-color: rgb(58, 97, 58);
}
.chairtyInfoFont{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.orgNameFont{
    font-size: 28px;
    line-height: 30px;
    padding: 2px 10px 15px 10px;
}
.moreDonateTable{
    position: relative;
    top: 640px;
    height: 110px;
    background: linear-gradient(
        to bottom, 
        rgb(237, 237, 237) 0%,
        rgb(130, 130, 130) 100%
        /* rgb(241, 245, 240) 60%,
        rgba(42, 42, 42, 0.878) 100% */
    ); 
    box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.388);
    box-shadow: inset 0px 0px 14px black;
    animation: slideUp;
    animation-duration: 1.5s;
    transition-timing-function: ease-in-out;
}
    @keyframes slideUp {
        0% {
            top:750px;
        }
        100%  {
            top: 640px;
        }
    }

.charityMoreInfoBtn{
    position: absolute;
    display: inline-block;
    top: 40px;
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.486);
    color: white;
    margin-left: -20px;
    width: 120px;
    padding: 6px;
    border: 1px solid rgb(82, 168, 82);
    border-radius: 8px;
    background: linear-gradient(
        to bottom, 
        rgba(196, 243, 185, 0.747) 2%,
        rgba(49, 163, 47, 0.377) 28%,
        rgba(28, 136, 26, 0.957) 52%,
        rgba(42, 148, 35, 0.683) 100%
    ); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.342);
}
.charityMoreInfoBtn:hover{
    box-shadow: none;
    transform: scale(.99);
    cursor: pointer;
}
.charityMoreInfoBtn:active{
    text-shadow: none;
    transform: scale(.98);
    background: linear-gradient(
        to bottom, 
        rgba(196, 243, 185, 0.747) 2%,
        rgba(49, 163, 47, 0.827) 28%,
        rgba(28, 136, 26, 0.957) 52%,
        rgba(42, 148, 35, 0.683) 100%
    ); 
}
.charityLessInfoBtn{
    position: absolute;
    display: inline-block;
    top: 40px;
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.486);
    color: white;
    margin-left: -20px;
    width: 120px;
    padding: 6px;
    border: 1px solid rgb(88, 168, 82);
    border-radius: 8px;
    background: linear-gradient(
        to bottom, 
        rgba(131, 175, 134, 0.747) 2%,
        rgba(24, 85, 27, 0.436) 28%,
        rgba(7, 73, 16, 0.957) 52%,
        rgba(8, 50, 9, 0.683) 100%
    ); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.342);
}
.charityLessInfoBtn:hover{
    box-shadow: none;
    transform: scale(.99);
    cursor: pointer;
}
.charityLessInfoBtn:active{
    text-shadow: none;
    transform: scale(.98);
    background: linear-gradient(
        to bottom, 
        rgba(131, 175, 134, 0.747) 2%,
        rgba(39, 138, 44, 0.436) 28%,
        rgba(7, 73, 16, 0.957) 52%,
        rgba(8, 50, 9, 0.683) 100%
    ); 
}
.charityDonateBtn{
    position: absolute;
    display: inline-block;
    top: 40px;
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.486);
    color: rgb(255, 255, 255);
    margin-left: -100px;
    width: 120px;
    padding: 6px;
    border: 1px solid rgba(201, 190, 121, 0.71);
    border-radius: 8px;
    background: linear-gradient(
        to bottom, 
        rgba(242, 243, 185, 0.747) 2%,
        rgba(207, 189, 24, 0.484) 28%,
        rgba(206, 189, 36, 0.957) 52%,
        rgba(148, 124, 35, 0.683) 100%
    ); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.342);
}
.charityDonateBtn:hover{
    box-shadow: none;
    transform: scale(.99);
    cursor: pointer;
}
.charityDonateBtn:active{
    text-shadow: none;
    transform: scale(.98);
    background: linear-gradient(
        to bottom, 
        rgba(242, 243, 185, 0.747) 2%,
        rgba(138, 126, 18, 0.484) 28%,
        rgba(206, 189, 36, 0.957) 52%,
        rgba(148, 124, 35, 0.683) 100%
    ); 
}
a{
    color: black;
}
a:hover{
    color: rgb(75, 149, 59);
    font-weight: bold;
}

@media only screen and (max-width: 724px){
    #charityCard{
        height: 82.5%;
        top: 135px;
        left: 25px;
        }
}