#charitiesPage{
    position: absolute;
    display: inline-block;
    top: 40px;
    left: 36px;
    width: 90.5%;
    height: 90.5%;
    border: 1px solid rgba(0, 0, 0, 0.433);
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0000007b;
    background-color: rgba(241, 241, 241, 0.745);
    z-index: 4;
    overflow: scroll;

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;

}
.xCharitiesPage{
    position: absolute;
    float: left;
    top: 8px;
    left: 8px;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
}



h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(
        to bottom, 
        rgb(72, 200, 164) 0%,
        rgb(78, 186, 156) 50%,
        rgb(8, 105, 26) 100%
    ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(11, 90, 28, 0.272);  
}    
