#charityCard{
    position: relative;
    /* display: none; */
    display: inline-block;
    top: -675px;
    width: 90%;
    height: 81.5%;
    border: 1px solid rgba(0, 0, 0, 0.433);
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0000007b;
    background: linear-gradient(
        to bottom, 
        rgb(241, 241, 241) 0%,
        rgb(139, 139, 139) 100%
    ); 
    overflow: scroll;
    z-index: 1;
    
    /* animation-name: fadeIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out; */
}
.xCharityCard{
    position: relative;
    float: left;
    top: 5px;
    left: 5px;

    /* animation-name: fadeIn;
    animation-duration: 8s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out; */
}
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100%  {
            opacity:1;
        }
    }
