#eventForm{
    position: relative;
    width: 100%;
    height: 460px;
    left: -25px;
    padding: 15px 25px 15px 25px;
    margin-bottom: 150px;
    border: 1px solid black;
    border-radius: 15px;
    background: linear-gradient(
        to bottom right, 
        rgb(255, 255, 255) 2%,
        rgb(214, 214, 214) 28%,
        rgb(214, 214, 214) 62%,
        rgb(251, 251, 251) 100%
    ); 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 5px 8px 2px #00000049;
    animation-name: dropdownEventForm;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
}

    @keyframes dropdownEventForm {
    0% {
        opacity:0; 
        height: 1px; 
        background-color: rgba(255, 255, 255, 0);}
    10%  {
        opacity:.6; 
        height: 480px; 
        background-color: #ffffff;}
    }

.textArea{
    width: 82%;
    max-width: 350px;
    height: 180px;
    min-height: 180px;
    max-height: 180px;
    padding:10px;
    font-size: 16px;
    border:none;
    border-radius: 10px;
    box-shadow: inset 0px 1px 5px black;
    white-space: pre-wrap;
}
.respondBtn{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 2px 2px black;
    vertical-align: middle;
    padding: 5px 40px 5px 40px;
    border-radius: 50px;
    border: 1px solid rgb(82, 168, 82);
    border-radius: 8px;
    background: linear-gradient(
        to bottom, 
        rgba(162, 236, 236, 0.747) 2%,
        rgba(151, 226, 226, 0.747) 28%,
        rgba(9, 160, 37, 0.765) 62%,
        rgba(10, 101, 22, 0.93) 100%
    ); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.342);
}
.respondBtn:hover{
    box-shadow: none;
    transform: scale(.99);
    cursor: pointer;
}
.respondBtn:active{
    text-shadow: none;
    transform: scale(.98);
    background: linear-gradient(
        to bottom, 
        rgba(138, 201, 201, 0.747) 2%,
        rgba(132, 197, 197, 0.747) 28%,
        rgba(7, 129, 30, 0.765) 62%,
        rgba(10, 101, 22, 0.93) 100%
    ); 
}

