#containerFrame{
    position: relative;
    display: inline-block;
    top: 80px;
    width: 90%;
    height: 62vh;
    max-height: 750px;
    border: 1px solid rgba(0, 0, 0, 0.433);
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0000007b;
    background: linear-gradient(
        to bottom, 
        rgba(177, 237, 213, 0.5) 0%,
        rgba(32, 92, 53, 0.75)100%
    ); 
    overflow: hidden;

}

#homeSearchPage{
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
}    
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100%  {
            opacity:1;
        }
    }

   

@media only screen and (max-width: 768px){
    #containerFrame{
        width: 90%;
        height: 90%;
        max-height: 400px;
    }
}