#loginPage{
    position: absolute;
    display: inline-block;
    top: 40px;
    left: 36px;
    width: 90.5%;
    height: 86%;
    padding-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.433);
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0000007b;
    background: linear-gradient(
        to bottom, 
        rgb(168, 194, 179) 0%,
        rgb(255, 255, 255) 30%,
        rgb(255, 255, 255) 70%,
        rgb(168, 194, 179) 100%
    ); 
    overflow: scroll;
    z-index: 100;

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
}
.login-header{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.882);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(122, 122, 122, 0.368);  
}
.chance-text{
    text-shadow: 0px 3px 4px rgba(11, 59, 4, 0.568);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(20, 57, 14, 0.608);  
}
.login-signup-text{
    font-size: 18px;
    line-height: 22px;
}
.signup-link{
    background: linear-gradient(
        to bottom, 
        rgb(72, 200, 164) 0%,
        rgb(78, 186, 156) 50%,
        rgb(8, 105, 26) 100%
    ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(11, 90, 28, 0.272);  
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}
.signup-link:hover{
    background: linear-gradient(
        to bottom, 
        rgb(53, 234, 183) 0%,
        rgb(49, 237, 184) 50%,
        rgb(26, 171, 53) 100%
    ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(11, 90, 28, 0.272);  }
#loginCard{
    position: relative;
    display: inline-block;
    top: 40px;
    width: 400px;
    margin-bottom: 80px;
    padding: 30px 0px 20px 0px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000007b;
    background: linear-gradient(
        to bottom, 
        rgb(241, 241, 241) 0%,
        rgb(221, 221, 221) 100%
    );     font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
}
#loginCard:hover{
    box-shadow: none;
}
.loginCard-header{
    font-size: 26px;
    font-weight: bold;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(78, 62, 14, 0.519);  
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0) 2%,
        rgba(113, 210, 167, 0.6) 15%,
        rgba(78, 194, 155, 0.815) 50%,
        rgba(113, 210, 167, 0.600) 85%,
        rgba(255, 255, 255, 0.0) 98%
    ); 
}
.login-input{
    width: 85%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border:none;
    border-radius: 10px;
    box-shadow: inset 0px 1px 5px black;
}
.login-input:hover{
    box-shadow: inset 0px 0px 3px black;
}
.login-btn{
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    display: inline-block;
    color: white;
    text-align: center;
    text-shadow: 0px 2px 2px black;
    text-decoration: none;
    vertical-align: middle;
    padding: 3px 40px 3px 40px;
    border-radius: 50px;
    border: 1px solid rgb(82, 168, 82);
    border-radius: 8px;
    background: linear-gradient(
        to bottom, 
        rgba(162, 236, 236, 0.747) 2%,
        rgba(151, 226, 226, 0.747) 28%,
        rgba(9, 160, 37, 0.765) 62%,
        rgba(10, 101, 22, 0.93) 100%
    ); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.342);
}
.login-btn:hover{
    box-shadow: none;
    transform: scale(.99);
    cursor: pointer;
}
.login-btn:active{
    text-shadow: none;
    transform: scale(.98);
    background: linear-gradient(
        to bottom, 
        rgba(138, 201, 201, 0.747) 2%,
        rgba(132, 197, 197, 0.747) 28%,
        rgba(7, 129, 30, 0.765) 62%,
        rgba(10, 101, 22, 0.93) 100%
    ); 
}








@media only screen and (max-width: 780px){
    #loginPage{
        left: 24px;
    }
    .login-signup-text, p{
        font-size: 20px;
    }
}



