#Nav{
    margin: 0 auto;
    position: relative;
    left: 64px;
}
#ChanceLogo{
    position: relative;
    display: inline-block;
    width: 320px;
    height: 110px;
    top: 30px;
    left: -66px;
    background-image: url('../images/Chance_logo.png');
    background-size: cover;
}
#ChanceLogo:hover{
    animation-name: hearbeat;
    animation-duration: .8s;
    animation-iteration-count: 1;
}

@keyframes hearbeat {
    5%  {
        transform: scale(1);
        text-shadow: none; 
    }
    30% {
        transform: scale(1.05);
        text-shadow: 8 8 rgba(0, 0, 0, 0.214);
    }
    45%  {
        transform: scale(1);
        text-shadow: none; 
    }
    60% {
        transform: scale(1.04);
        text-shadow: 8 8 rgba(0, 0, 0, 0.214);
        }
}

#mainMenu{
    position: absolute;
    display: inline-block;
    width: 280px;
    height: fit-content;
    top: -20px;
    left: -205px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(
        to bottom right, 
        rgb(255, 255, 255) 2%,
        rgb(214, 214, 214) 28%,
        rgb(214, 214, 214) 62%,
        rgb(251, 251, 251) 100%
    ); 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 5px 8px 2px #00000049;
    z-index: 100;
    cursor: pointer;
}
.menuBtn{
    position: relative;
    display: inline-block;
    top: 15px;
    left:-65px;
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1px 10px 3px 10px;
    background: linear-gradient(
        to bottom, 
        rgba(162, 236, 236, 0.747) 2%,
        rgba(151, 226, 226, 0.747) 28%,
        rgba(9, 160, 37, 0.765) 62%,
        rgba(10, 101, 22, 0.93) 100%
    ); 
    border: 1px solid rgba(42, 130, 90, 0.806);
    border-radius: 8px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.676);
    box-shadow: 0px 4px 3px #25252585;
    cursor: pointer;
}
.menuBtn:hover{
    transform: scale(.95);
    box-shadow: 1px 1px 1px 1px #25252555;
}
.menuBtn:active{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.589);
    box-shadow: none;
    background: linear-gradient(
        to bottom, 
        rgba(138, 201, 201, 0.747) 2%,
        rgba(132, 197, 197, 0.747) 28%,
        rgba(7, 129, 30, 0.765) 62%,
        rgba(10, 101, 22, 0.93) 100%
    ); 
}
.dropdownAnimation{
    animation-name: dropdown;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
}

    @keyframes dropdown {
    0% {
        opacity:0; 
        height: 1px; 
        background-color: rgba(255, 255, 255, 0);}
    18%  {
        opacity:.8; 
        height: fit-content;
        padding-bottom: 25px; 
        background-color: #ffffff;}
    }

.menuFont{
    position: relative;
    display: block;
    text-align: left;
    padding: 4px 0px 4px 45px;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
    color: black;
    line-height: 36px;
    text-align: left;
}
.menuFont:hover{
    transform: scale(1.12);
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0) 2%,
        rgba(94, 176, 143, 0.6) 28%,
        rgba(94, 176, 143, 0.600) 82%,
        rgba(255, 255, 255, 0.0) 98%
    ); 
    color: white;
}
.menuFont:active{
    animation-name: menuClick;
    animation-duration: .17s;
    animation-iteration-count: 1;
}

    @keyframes menuClick {
        0% {color:rgb(40, 40, 40);}
        100% {color:rgb(255, 255, 255);}
    }
    
.mainMenuIcon{
    margin-right: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.639);
}

  

@media only screen and (max-width: 768px){
    #ChanceLogo{
        width: 250px;
        height: 80px;
    }
    .menuBtn{
        font-family: arial;
        font-size: 20px;
    }
}