#searchCard{
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0.337) 0%,
        rgba(255, 255, 255, 0.193) 100%
    ); 
    cursor: pointer;
}
#searchCard:hover{
    width: 90.5%;
    transform: scale(1.1);
    background: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0.577) 0%,
        rgba(255, 255, 255, 0.139) 100%
    ); 
}
#searchCard:active{
    background: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0.337) 0%,
        rgba(255, 255, 255, 0.193) 100%
    ); 
}

@media only screen and (max-width: 605px){
    #searchCard{
        font-size: 30px;
        padding: 10px 0px 10px 0px;
    }
    #searchCard:hover{
        width: 100%;
        transform: scale(1.0);
    }
    #searchCard:active{
        color: rgba(167, 40, 40, 0.817);
    }
}