#searchResults{
    position: relative;
    display: inline-block;
    top: 80px;
    width: 90%;
    height: 62vh;
    max-height: 750px;
    border: 1px solid rgba(0, 0, 0, 0.433);
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0000007b;
    background: linear-gradient(
        to bottom, 
        rgb(226, 226, 226) 0%,
        rgb(79, 79, 79) 100%
    ); 
    overflow: scroll;
}
#searchResults:hover{
    box-shadow: inset 0 0 5px #0000007b;
}
#searchResults:active{
    box-shadow: inset 0 0 10px #0000007b;
}

@media only screen and (max-width: 780px){

}