#searchResults{
    position: relative;
    display: inline-block;
    top: 80px;
    width: 90%;
    height: 62vh;
    min-height: 750px;
    max-height: 750px;
    border: 1px solid rgba(0, 0, 0, 0.433);
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0000007b;
    background: linear-gradient(
        to bottom right, 
        rgb(168, 194, 179) 0%,
        rgb(221, 236, 233) 30%,
        rgb(225, 226, 210) 60%,
        rgb(226, 207, 216) 100%
    ); 
    overflow: scroll;
}
#searchResults:hover{
    box-shadow: inset 0 0 5px #0000007b;
}
#searchResults:active{
    box-shadow: inset 0 0 10px #0000007b;
}

@media only screen and (max-width: 780px){

}