#signupForm{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0vw;
    padding-top: 40px;
    width: 99.7%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.433);
    box-shadow:  0 -5px 10px #00000042;
    background: linear-gradient(
        to bottom, 
        rgb(170, 170, 170) 0%,
        rgb(198, 198, 198) 20%,
        rgb(207, 207, 207) 70%,
        rgb(170, 170, 170) 100%
    ); 
    overflow: hidden;
    z-index: 2;

    animation-name: signupSlideUp;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
}
    @keyframes signupSlideUp {
        0% {
            top:800px;
        }
        100%  {
            top: 0px;
        }
    }
.signup-input{
    width: 85%;
    height: 30px;
    font-size: 16px;
    border:none;
    border-radius: 10px;
    box-shadow: inset 0px 1px 5px black;
}
.signup-input:hover{
    box-shadow: inset 0px 0px 3px black;
}
form input{
    padding-left: 10px;
}
.select-input{
    width: 88%;
    height: 34px;
    font-size: 16px;
    border: 3px solid rgba(0, 0, 0, 0.306);
    border-radius: 10px;
    background: linear-gradient(
        to bottom, 
        rgb(255, 255, 255) 0%,
        rgb(170, 170, 170) 100%
    ); 
}
.select-input:hover{
    background: linear-gradient(
        to bottom, 
        rgb(255, 255, 255) 0%,
        rgb(203, 203, 203) 100%
    ); 
}
.signup-submit{
    margin-top: 20px;
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    color: white;
    text-align: center;
    text-shadow: 0px 2px 2px black;
    vertical-align: middle;
    padding: 5px 40px 5px 40px;
    border-radius: 50px;
    border: 1px solid rgb(82, 168, 82);
    border-radius: 8px;
    background: linear-gradient(
        to bottom, 
        rgba(196, 243, 185, 0.747) 2%,
        rgba(49, 163, 47, 0.377) 28%,
        rgba(28, 136, 26, 0.957) 52%,
        rgba(42, 148, 35, 0.683) 100%
    ); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.342);
    font-size: 16px;
}
.signup-submit:hover{
    box-shadow: none;
    transform: scale(.99);
    cursor: pointer;
}
.signup-submit:active{
    text-shadow: none;
    transform: scale(.98);
    background: linear-gradient(
        to bottom, 
        rgba(196, 243, 185, 0.747) 2%,
        rgba(49, 163, 47, 0.827) 28%,
        rgba(28, 136, 26, 0.957) 52%,
        rgba(42, 148, 35, 0.683) 100%
    ); 
}

.signup-goBack{
    margin-top: 37px;
    margin-left: 10px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    color: white;
    text-align: center;
    text-shadow: 0px 2px 2px black;
    vertical-align: middle;
    padding: 5px 40px 5px 40px;
    border-radius: 50px;
    border: 1px solid rgb(168, 82, 82);
    border-radius: 8px;
    background: linear-gradient(
        to bottom, 
        rgba(243, 185, 185, 0.747) 2%,
        rgba(163, 47, 47, 0.377) 28%,
        rgba(136, 26, 26, 0.957) 52%,
        rgba(148, 35, 35, 0.683) 100%
    ); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.342);
    font-size: 16px;
}
.signup-goBack:hover{
    box-shadow: none;
    transform: scale(.99);
    cursor: pointer;
}
.signup-goBack:active{
    text-shadow: none;
    transform: scale(.98);
    background: linear-gradient(
        to bottom, 
        rgba(243, 185, 185, 0.747) 2%,
        rgba(209, 59, 59, 0.377) 28%,
        rgba(136, 26, 26, 0.957) 52%,
        rgba(148, 35, 35, 0.683) 100%
    ); 
}
@media only screen and (max-width: 780px){
    #signupForm{
        font-size: 12px;
    }
}