#userProfile{
    position: absolute;
    top: 40px;
    left: 36px;
    width: 90.5%;
    height: 90.5%;
    border: 1px solid rgba(27, 91, 27, 0.433);
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0000007b;
    background-color: white;
    z-index: 4;
}
.profileInfoRow{
    position: relative;
    display: inline-block;
    width: 50%;
    max-width: 420px;
}



@media only screen and (max-width: 605px){
    .profileInfoRow{
        width: 100%;
    }
}